<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">


</head>



<body>
        {{>header}}
        <p>
            Use this site to get weather </p>

        </p>


        <form>
            <input placeholder="location">
            <button> search</button>
        </form>
                   {{>footer}}

<p id="msg-one"></p>

<p id="msg-two"></p>
      <script src="/js/app.js"> </script>
</body>

</html>